<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yandi.maudaftar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Act_Beranda"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnBoarding"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Act_Masuk"
            android:label="Masuk"
            android:screenOrientation="portrait"
            android:parentActivityName=".Act_Beranda">
        </activity>
        <activity
            android:name=".Act_Daftar"
            android:label="Daftar"
            android:screenOrientation="portrait"
            android:parentActivityName=".Act_Beranda">
        </activity>
    </application>

</manifest>